{{#if showTip}}
  <span class='title-tip {{tipClass}}'>{{i18n 'composer.input_tip'}}</span>
{{/if}}

{{#if showTypes}}
  {{#if typesState}}
    <div class="discovery-title">{{i18n 'composer.type_choice'}}</div>
  {{/if}}
  <div class="topic-type-container {{containerClass}}">
    {{#each topicTypes as |type|}}
      {{topic-type-btn topicType=type switchTopicType="switchTopicType" currentType=currentType}}
      {{#if typesState}}
        {{topic-type-text type=type ext="description"}}
      {{/if}}
    {{/each}}
  </div>
  {{#if typesState}}
    <div class="discovery-actions">
      {{d-button class="btn-primary next" label="composer.next" action="goTo" actionParam="Full"}}
    </div>
  {{/if}}
  {{#unless typesState}}
    {{topic-type-text type=currentType ext="description"}}
  {{/unless}}
{{/if}}

{{#if showSimilarTitleTopics}}
  <div class="discovery-title">{{i18n 'composer.similar'}}</div>
  {{similar-titles topics=topics}}
  <div class="discovery-actions">
    {{d-button class="btn-primary next" label="composer.similar_create" action="goTo" actionParam="Types"}}
  </div>
{{/if}}

{{#if showMakeWiki}}
  <div class="discovery-input">
    {{input type="checkbox" checked=model.makeWiki}}
    {{i18n 'composer.make_wiki'}}
  </div>
{{/if}}

{{#if showAddEvent}}
  <div class="discovery-input">
    {{d-button label="event_widget.btn_label" action="showAddEvent"}}
  </div>
{{/if}}

{{#if eventLabel}}
  <div class="discovery-input">
    <button class='btn current-event' {{action 'showAddEvent'}}>{{eventLabel}}</button>
    {{d-button icon="times" action="removeEvent"}}
  </div>
{{/if}}

{{#if showRating}}
  <div class="discovery-input">
    {{select-rating rating=model.rating includeRating=model.includeRating}}
  </div>
{{/if}}

{{#if composerLocationLabel}}
  <div class="discovery-input">
    <button class='btn current-location' {{action 'showAddLocation'}}>
      {{#if hasGeoLocation}}
        <i class='fa fa-map-marker'></i>
      {{/if}}
      {{composerLocationLabel}}
    </button>
    {{d-button icon="times" action="removeLocation"}}
  </div>
{{else}}
  {{#if showAddLocation}}
    <div class="discovery-input">
      {{d-button label='composer.location.btn' action='showAddLocation'}}
    </div>
  {{/if}}
{{/if}}
